/node_modules/

# Generated dist files
/SmoothieComponent.js
/SmoothieComponent.d.ts
/RenderCoordinator.js
/RenderCoordinator.d.ts

# Generated test files
/test

# Generated example files
example.js
example.d.ts
